:root {

    /* Font Sizes start */
    --font-size-title: 72px;
    --font-size-sub-title: 50px;
    --font-size-h1: 35px;
    --font-size-h2: 28px;
    --font-size-h3: 22px;
    --font-size-h4: 16px;
    --font-size-h5: 14px;
    --font-size-h6: 12px;
    --font-size-10: 10px;
    --font-size-8: 8px;
    /* Font Sizes end */

    /* Font Weights start */
    --font-weight-light: 100;
    --font-weight-medium: normal;
    --font-weight-bold: 600;
    --font-weight-heavy: 800;
    /* Font Weights end */

}
